extends main

block greeting
    p.title Enter the form

block content
    section.section
        .columns
            .column
                h1.title
                    form(action='https://formspree.io/norwood.sean@gmail.com', method='POST')
                        .field
                            label.label Name
                            .control
                                input.input(type='text', name='Name')
                        .field
                            label.label Email
                            .control.has-icons-left
                                input.input(type='email' name='Email')
                                span.icon.is-small.is-left
                                    i.fas.fa-envelope
                        .field
                            label.label Commission Type
                            .control
                                .select
                                    select(name='Commission Type')
                                        option Headshot $25
                                        option Scene Sketch $40
                                        option Badge $90
                        .field
                            label.label Character Reference
                            .control
                                textarea.textarea(placeholder='', name='Character Reference')
                                p.help Image reference URLs for character involved! Can be art OR in-game screenshots. Feel free to supplement with physical descriptions as well - if your character has armor or clothing, make sure you include that!
                        .field
                            label.label Commission Description
                            .control
                                textarea.textarea(placeholder='', name='Commission Description')
                                p.help How do you envision your image? Example: "happy grin, on the beach and wearing a cute red swimsuit," or "grumpy/snarling with arms crossed."
                        .field.is-grouped
                            .control
                                button.button.is-link Submit
