extends main

block greeting
    p.title Gallery

//- block content
//-     .tile.is-ancestor
//-         .tile.is-parent
//-             figure.image
//-                 img(src="https://i.imgur.com/f8suZRV.png", alt="", srcset="")
//-         .tile.is-parent
//-             figure.image
//-                 img(src="https://i.imgur.com/f8suZRV.png", alt="", srcset="")
//-         .tile.is-parent
//-             figure.image
//-                 img(src="https://i.imgur.com/f8suZRV.png", alt="", srcset="")
//-     .tile.is-ancestor
//-         .tile.is-parent
//-             figure.image
//-                 img(src="https://i.imgur.com/f8suZRV.png", alt="", srcset="")
//-         .tile.is-parent
//-             figure.image
//-                 img(src="https://i.imgur.com/f8suZRV.png", alt="", srcset="")
//-         .tile.is-parent
//-             figure.image
//-                 img(src="https://i.imgur.com/f8suZRV.png", alt="", srcset="")

block gallery
    ul
        li.item.is-active(data-option='1')
            a Pictures
        li.item(data-option='2')
            a Music
        li.item(data-option='3')
            a Videos

#tab_container.box
    .container_item.is-active(data-item='1')
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam perferendis, consequuntur facere molestiae explicabo reprehenderit vitae. Deleniti neque dolore nobis cum eius nulla porro quos sint delectus sed amet adipisci quaerat laudantium est distinctio dolor, at repudiandae similique doloribus rem. Obcaecati recusandae fugiat itaque nihil vel, mollitia modi, repellat, voluptatibus, repellendus nostrum nisi veritatis. Odit magnam quia magni quibusdam molestiae ut.
    .container_item(data-item='2')
        | Nobis quibusdam veritatis voluptatum, quasi. Unde eaque reprehenderit expedita at earum, accusantium laudantium vitae minima, veritatis in dolorem, illo itaque nihil cum iusto tenetur saepe repellendus nam eum culpa magnam quae! Nam, deleniti? Hic quibusdam sed perferendis quasi mollitia! Obcaecati recusandae fugiat itaque nihil vel, mollitia modi, repellat, voluptatibus, repellendus nostrum nisi veritatis. Odit magnam quia magni quibusdam molestiae ut.
    .container_item(data-item='3')
        | Beatae neque magni recusandae tempore ad nobis magnam. Explicabo, a! Molestiae aperiam necessitatibus suscipit mollitia dolorum quas possimus ipsa, nemo quod ipsam veniam, incidunt maxime quos iusto reiciendis. Eligendi cupiditate asperiores fuga dolore. Reiciendis eligendi eaque autem, aperiam delectus nesciunt enim similique ut laborum blanditiis tempora quidem, nobis unde incidunt alias atque dignissimos recusandae quibusdam cum dolor voluptas corrupti!


.container-gallery
    #ajax-tab-content.hidden
      .holder
          img(src="https://images.unsplash.com/photo-1502214722586-9c0a74759710?auto=format&fit=crop&w=752&q=80", alt="", srcset="")

//- .container
//-     #all-tab-content
//-         h1.title.is-1(style='text-align:center;') Here will be the contents of the "All" tab
//-     #adaptivedesign-tab-content.hidden
//-         h1.title.is-1(style='text-align:center;') Here will be the contents of the "Adaptive Design" tab
//-     #jquery-tab-content.hidden
//-         h1.title.is-1(style='text-align:center;') Here will be the contents of the "jQuery" tab
//-     #ajax-tab-content.hidden
//-         h1.title.is-1(style='text-align:center;') Here will be the contents of the "AJAX" tab
//-     #angularjs-tab-content.hidden
//-         h1.title.is-1(style='text-align:center;') Here will be the contents of the "AngularJS" tab
