extends main

block greeting
    p.title.is-5 Welcome!
    p.subtitle This is smaller text
    article.media
      figure.media-left
        p.image.is-128x128
          img(alt='treats' src='https://cdn.discordapp.com/attachments/132625399430643712/455802088447016960/e10479121b98fa67a85981c74bad9a1a.png')
      .media-content
        .content
          br
          strong Treats
          br
          span.icon.is-small
            i.fab.fa-twitter
          small  @Treats
          br
          | I'm a big bird

block content
  p.title Hello!
  p.subtitle This is smaller text
