doctype html
html
    head
        title= title
        //- link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    body
    nav.navbar.is-danger
        .navbar-brand
            a.navbar-item(href='/')
                img(src="/img/logo.png", alt="Treats!", srcset="")
        .navbar-menu
            .navbar-end
                a.navbar-item(href='https://twitter.com') 
                    span.icon.is-small
                        i.fab.fa-twitter
                a.navbar-item(href='https://tumblr.com') 
                    span.icon.is-small
                        i.fab.fa-tumblr
                a.navbar-item(href='https://deviantart.com')
                    span.icon.is-small
                        i.fab.fa-deviantart
                a.navbar-item(href='https://artstation.com')
                    span.icon.is-small
                        i.fas.fa-pencil-alt
            
    section.hero.is-dark
        .hero-body
            .container
                
                h1.title
                    | Primary title
                h2.subtitle
                    | Primary subtitle
   
    br
    .columns
        .column.is-narrow
            .box(style='width: 300px;')
                aside.menu
                    p.menu-label
                        | General
                    ul.menu-list
                        li
                            a(href='/about') About
                        li
                            a(href='/gallery') Gallery
                        li
                            a(href='/commissions') Commissions
                        li
                            a(href='/contact') Contact
                        br
                        li
                            a(href='mailto:norwood.lja@gmail.com') norwood.lja@gmail.com

        .container
            .column.is-11
                .box
                    block content
        

footer.footer
    .container
        .content.has-text-centered
            p
                strong Bulma
                |  by 
                a(href='https://jgthms.com') Jeremy Thomas
                | . The source code is licensed
                a(href='http://opensource.org/licenses/mit-license.php')  MIT
                | . The website content
                |         is licensed 
                a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC BY NC SA 4.0
                | .