doctype html
html
    head
        title="Treats!"
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

    body
    // Start NavBar
    nav.navbar.is-danger(role='navigation', aria-label='main navigation')
        // Start Logo
        .navbar-brand
            a.navbar-item(href='/')
                img(src="/img/logo.png", alt="Treats!", srcset="")
        // End Logo
        // Start right side menu
        .navbar-menu
            a.navbar-item.is-logo(href="/")
                figure.image.is-32x32
                    img(src="/img/logo.png", alt="", srcset="")
            .navbar-end
                a.navbar-item(href='https://twitter.com')
                    span.icon.is-small
                        i.fab.fa-twitter
                a.navbar-item(href='https://tumblr.com')
                    span.icon.is-small
                        i.fab.fa-tumblr
                a.navbar-item(href='http://ljnorwood.daportfolio.com/')
                    span.icon.is-small
                        i.fab.fa-deviantart
                a.navbar-item(href='https://artstation.com')
                    span.icon.is-small
                        i.fas.fa-pencil-alt
        // End right side menu
    // Start Hero
    section.hero.has-background-white
        .hero-body
            h1.title
                | Primary title
            h2.subtitle
                | Primary subtitle
    // End Hero

    // Start Sidebar
    br
    .columns
        .column
            .box
                aside.menu
                    p Treats!
            .box
                aside.menu
                    p.menu-label.has-background-light.has-text-centered
                      span.icon
                        i.fas.fa-star
                       strong General
                    ul.menu-list
                        li
                            a(href='/about') About
                        li
                            a(href='/gallery') Gallery
                        li
                            a(href='/commissions') Commissions
                        li
                            a(href='/contact') Contact
                        br
                        li
                            a(href='mailto:norwood.lja@gmail.com') norwood.lja@gmail.com

        // End Sidebar
        // Start Content
        .column.is-8
            .box
                block greeting
            .box
                block content
                  #tab_header.tabs.is-centered
                      block gallery

        // Right sidebar
        br
        .column
            .box
                aside.menu
                    p.menu-label.has-background-light.has-text-centered
                        span.icon
                          i.fas.fa-star
                        strong General
                    ul.menu-list
                        li
                            a(href='/about') About
                        li
                            a(href='/gallery') Gallery
                        li
                            a(href='/commissions') Commissions
                        li
                            a(href='/contact') Contact
                        br
                        li
                            a(href='mailto:norwood.lja@gmail.com') norwood.lja@gmail.com
            .box
              p Copyright

        // End Content

        script.
            $(document).ready(function() {
            $('#tab_header ul li.item').on('click', function() {
            var number = $(this).data('option');
            $('#tab_header ul li.item').removeClass('is-active');
            $(this).addClass('is-active');
            $('#tab_container .container_item').removeClass('is-active');
            $('div[data-item="' + number + '"]').addClass('is-active');
              });
            });


// Start footer
footer.footer
    .container
        .content.has-text-centered
            p
                strong Bulma
                |  by
                a(href='https://jgthms.com')    Jeremy Thomas
                | . The source code is licensed
                a(href='http://opensource.org/licenses/mit-license.php')  MIT
                | . The website content
                |   is licensed
                a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/')     CC BY NC SA 4.0
                | .
// End Footer
