@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";

$dark: #1d1f20;
$warning: #efc371;
$danger: #ae94c0;
$success: #b5bc67;
$orange: #dd925f;
$body-background-color: #F3F8FB;

#tab_container .container_item {
  display: none;
}

#tab_container .container_item.is-active {
  display: block;
}

.navbar-item.is-logo {
  position: absolute;
  left: 50%;
  margin-left: -63px;
  height: 100%;
  display: flex;
  align-items: center;
}

p.title {
    color: $success;
}

p.subtitle {
    color: $danger;
    margin: 10px 0;
}

.container-gallery {
  width: 750px auto;
  height: 380px;
  box-sizing: border-box;
}

.holder {
  width: 200px;
  height: 150px;
  margin: 15px;
  float: left;
}

.holder img {
  width:100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s, transform 0.2s ease-in;
}

img:hover {
  opacity: 1;
  transform: scale(1.1);
  // box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
}


@import "./node_modules/bulma/bulma.sass";
@import "./bulma-extensions.sass"
